snippet html5 "Description" b
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Blank Page</title>
  <meta name="description" content="Blank page">
  <meta name="author" content="Stephen Pearson">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
  <script src="js/scripts.js"></script>
</body>
</html>
endsnippet
